<!DOCTYPE html>
<html lang="en">
    {{> head }}
<body>
      
    {{> navbar }}

    <div class="row">
        <div class="col-8">
            <h1> Page develop with handlebars</h1>
            <p> Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatum vero illo illum accusantium, voluptate asperiores labore esse. Voluptas molestiae dignissimos quod, consequatur iusto iste ipsam ut eum, est, minus eaque?</p>
        </div>

        <div class="col-4">
            <img src="/public/assets/img/handlebarslogo.png"  class="img-thumbnail" >            

        </div>

    </div>

    {{> footer }}

</body>
</html>